In [1]:
x = 1
x = x+2
print(x)

3

In [2]:
a = 'Eve' + 'Marealle'
print(a)

EveMarealle

In [3]:
xx = 2

xx = 2* xx
print (xx)

4

In [4]:
#ONLY RETURNS THE REMAINDER
y=5
r = 7
z = y%r
print (z)

5

In [5]:
type (1)

int

In [6]:
E = 1
type (E)

int

In [7]:
print (float(99)+200)

299.0

In [8]:
i =42
f = float (i)
print (f)

42.0

In [9]:
print (9/2)

4.5

In [10]:
print (10/2)

5.0

In [11]:
print (10.0/2.0)

5.0

In [12]:
#input inapause afu inaacha ujibu
nam = input("who are you?")
print ("welcome", nam) #the space here will result in welcome Chuck not welcomechuck AFTER WRITING NAME TYPE ENTER

who are you?eva
welcome eva

In [13]:
#changing a string to input to be used for calculations
string = "123"
type (string)
integer = int (string)
print (integer)
print (integer+1)

123
124

In [14]:
#convert elevators floors
inp = input ("Europefloors")
US = int (inp) +1
print ("USFLOOR", US)

Europefloors34
USFLOOR 35

In [15]:
#ASSIGNMENT
print("123" + "abc")

123abc

In [16]:
#BAD VARIABLENAME variable name can start with underscore or letter but not a number
23SPAM = 3
print (23SPAM)

SyntaxError: invalid syntax (2016792053.py, line 2)

In [ ]:
print (42 % 10)

In [ ]:
print  (1 + 2 * 3 - 8 / 4)

In [ ]:
print(int(98.6))

In [ ]:
name = input ("who are you")
print ("Good to see you", name)

In [ ]:
#Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Use 35 hours and a rate of 2.75 per hour to test the program (the pay should be 96.25). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking or bad user data.
  
# This first line is provided for you

  
hrs = input("Enter Hours:")
rate = input("Enter rate:")
Pay_is = float (hrs) * float (rate)
print ("Pay:", Pay_is)